body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.commentInput{
    margin-right: 10px;
}
.images {
    background-image: url("bricks.jpg");
    border-top: 1px solid white;
    padding: 10px;
    padding-top: 50px;
    /* position: absolute;
    bottom: 0; */
}

.imageDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 50%;
}

#getmore {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    outline: none;
    cursor: pointer;
}

#getmore:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: black;
    user-select: none;
}

#uploadButton {
    display: block;
    position: relative;
    top: 35px;
    margin: 0 auto;
    text-align: center;
    border: 0.5px solid white;
    background-color: rgba(0, 0, 0, 0);
    background-color: none;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    /* color: black; */
}

#latestImages {
    display: block;
}

.overlay {
    position: fixed;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    color: grey;
    z-index: 100;
    background: rgba(255, 255, 255, 1);
    color: grey;
    text-align: center;
    border-radius: 25px;
    overflow: scroll;
}
#overlayBack{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
}

#closer {
    position: fixed;
    right: 40px;
    top: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
}
/* #comment-add{
    border-top: 1px solid grey;
} */
.bigImgContainer{
    border: 1px solid grey;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 3px;
}
.comment {
    border: 1px solid grey;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.commentsDisplay {
    margin-bottom: 15px;
}

.bigImage img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
}

.thumbTitle {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 23px;
    margin-top: 7px;
    overflow: ;
}

button {
    font-size: 12px;
    padding: 5px 10px;
    display: inline;
    margin-right: 5px;
    outline: none;
}

.photo {
    width: 280px;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    padding: 7px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
}

.photo:hover {
    opacity: 0.5;
    cursor: pointer;
}

img {
    width: 280px;
    height: 200px;
    overflow: hidden;
    flex-basis: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 3%;
}

.uploadHead {
    background-image: url("sunset.jpg");
    border-top: 1px solid white;
    height: 300px;
}

.headingTitle {
    padding-top: 20px;
    font-size: 40px;
    color: white;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

header {
    background-image: url("bricks.jpg");
    height: 60px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: -20px;
}

.underlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uploadWindow {
    position: fixed;
    top: 150px;
    left: 150px;
    bottom: 150px;
    right: 150px;
    text-align: center;
    background: white;
    opacity: 0.95;
    min-height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    z-index: 100;
    overflow-y: scroll;
}

#closeUploader {
    position: fixed;
    top: 162px;
    right: 160px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
}

.uploadWindow input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 3px;
}

#uploadPhoto {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.passError{
    color: red
}
